<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4247948913473559"
     crossorigin="anonymous"></script>
<!-- Ad1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4247948913473559"
     data-ad-slot="1925813383"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<hr>
<footer style="text-align: center;">
  <p>Folge mir auf:</p>
  <a href="https://github.com/deinprofil" target="_blank">GitHub</a> |
  <a href="https://twitter.com/deinprofil" target="_blank">Twitter</a> |
  <a href="https://linkedin.com/in/deinprofil" target="_blank">LinkedIn</a> |
  <a href = "https://www.roblox.com/users/168057171/profile" target ="_blank">Roblox</a> 
</footer>
