<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4247948913473559"
     crossorigin="anonymous"></script>

<hr>
<footer style="text-align: center;">
  <p>Socials:</p>
  <a href="https://github.com/mca-net" target="_blank">GitHub</a> |
  <a href = "https://www.roblox.com/users/168057171/profile" target ="_blank">Roblox</a> |
       <a href = "https://www.roblox.com/communities/33292602/Venora-Dev" target ="_blank">Roblox group (VENORA DEV)</a> |
<a href = "https://discord.com/users/783686592363364362" target ="_blank">Discord</a>
</footer>
