<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4247948913473559"
     crossorigin="anonymous"></script>

<hr>
<footer style="text-align: center;">
  <p>Folge mir auf:</p>
  <a href="https://github.com/deinprofil" target="_blank">GitHub</a> |
  <a href="https://twitter.com/deinprofil" target="_blank">Twitter</a> |
  <a href="https://linkedin.com/in/deinprofil" target="_blank">LinkedIn</a> |
  <a href = "https://www.roblox.com/users/168057171/profile" target ="_blank">Roblox</a> 
</footer>
